#countlabel{
    display:block;
    text-align: center;
    font-size: 100px;
}
#btn-container{
    text-align: center;
    margin-top: 20px;
}
.buttons{
    padding: 10px 20px;
    font-size:20px;
    margin:10px 20px;
    cursor:pointer;
    color:white;
    background-color: teal;
    border:none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
}
.buttons:hover{
    background-color: darkcyan;
    transition: 0.2s;
    
}
.buttons:active{
    box-shadow: none;
    transform: translatey(2px);
    border:2px solid lightcyan;
}